
.vs/slnx.sqlite
NetCincer/.vs/NetCincer/v16/.suo
NetCincer/NetCincer/bin/Debug/netcoreapp3.1/NetCincer.dll
NetCincer/NetCincer/bin/Debug/netcoreapp3.1/NetCincer.exe
NetCincer/NetCincer/bin/Debug/netcoreapp3.1/NetCincer.pdb
NetCincer/NetCincer/bin/Debug/netcoreapp3.1/NetCincer.runtimeconfig.dev.json
NetCincer/NetCincer/obj/Debug/netcoreapp3.1/apphost.exe
NetCincer/NetCincer/obj/Debug/netcoreapp3.1/NetCincer.assets.cache
NetCincer/NetCincer/obj/Debug/netcoreapp3.1/NetCincer.csproj.CoreCompileInputs.cache
NetCincer/NetCincer/obj/Debug/netcoreapp3.1/NetCincer.csproj.FileListAbsolute.txt
NetCincer/NetCincer/obj/Debug/netcoreapp3.1/NetCincer.csproj.GenerateResource.cache
NetCincer/NetCincer/obj/Debug/netcoreapp3.1/NetCincer.designer.runtimeconfig.json
NetCincer/NetCincer/obj/Debug/netcoreapp3.1/NetCincer.dll
NetCincer/NetCincer/obj/Debug/netcoreapp3.1/NetCincer.genruntimeconfig.cache
NetCincer/NetCincer/obj/Debug/netcoreapp3.1/NetCincer.pdb
NetCincer/NetCincer/obj/NetCincer.csproj.nuget.dgspec.json
NetCincer/NetCincer/obj/NetCincer.csproj.nuget.g.props
NetCincer/NetCincer/obj/project.assets.json
NetCincer/NetCincer/obj/project.nuget.cache
NetCincer/NetCincer/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
NetCincer/NetCincer/obj/Release/netcoreapp3.1/NetCincer.AssemblyInfo.cs
NetCincer/NetCincer/obj/Release/netcoreapp3.1/NetCincer.AssemblyInfoInputs.cache
NetCincer/NetCincer/obj/Release/netcoreapp3.1/NetCincer.assets.cache
